header {
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
}

nav a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  color: rgb(18, 212, 11);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateX(100%); 
    font-size: 1.8rem;
  }

  header .responsive-nav {
    transform: translateX(0); 
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    left: 2rem; 
  }

  nav a {
    font-size: 1.5rem;
  }
}
